html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 50px 0 0 0;
    background-image: url("../img/bodybg.png");
}

nav {
    padding: 0 0.5em;
}

header {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1000;
}

section {
    max-width: 1024px;
    margin: 0 auto;
}

address {
    margin: 0;
    display: inline;
}

/******************************** [START] Bootstrap Override ***********************************/
.progress {
    border-radius: 0;
    height: 0.5em;
}

.modal-footer {
    margin-top: 0;
}

.navbar-brand {
    padding: 1px 15px;
}

/******************************** [END] Bootstrap Override ***********************************/


/******************************** [START] Generic styles ***********************************/
.right {
    float: right;
}

.pad-small {
    padding: 0.5em;
}

.pad-medium {
    padding: 1em;
}

.pad-bottom-small {
    padding-bottom: 0.5em;
}

.pad-top-bottom-small {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.no-margin {
    margin: 0;
}

.section-spaced {
    padding-top: 70px;
}

.full-width {
    width: 100%;
}

/******************************** [END] Generic styles ***********************************/


#location-map {
    height: 500px;
}

#location-selection-container a:hover {
    text-decoration: none;
}

#time-court-selection-container td {
    padding: 0;
}

#time-court-selection-container th {
    text-align: center;
}

#time-court-selection-container td.court-selection-label {
    vertical-align: middle;
}

#time-court-selection-container td button {
    width: 100%;
    border-radius: 0;
}

.court-booked {
}

.court-images-container {
    margin: 0.5em auto;
}

.court-image-border {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 5px 5px 0 5px;
    margin: 0 2px;
}

.court-image {
    height: 5em;
    width: 5em;
    background-position: center;
    background-size: cover;
    display: inline-block;
}