html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 50px 0 0 0;
    background-image: url("../img/bodybg.png");
}

nav {
    padding: 0 0.5em;
}

header {
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 1000;
}

section {
    max-width: 1024px;
    margin: 0 auto;
}

address {
    margin: 0;
    display: inline;
}

/******************************** [START] Bootstrap Override ***********************************/
.progress {
    border-radius: 0;
    height: 0.5em;
}
/******************************** [END] Bootstrap Override ***********************************/


/******************************** [START] Generic styles ***********************************/
.right {
    float: right;
}

.pad-small {
    padding: 0.5em;
}

.pad-medium {
    padding: 1em;
}

.pad-bottom-small {
    padding-bottom: 0.5em;
}

/******************************** [END] Generic styles ***********************************/


#location-map {
    height: 500px;
}

#location-selection-container a:hover {
    text-decoration: none;
}
